<!DOCTYPE html>
<html lang="en">

<head>
    <title>Technoritory</title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style>
    .modal-content{
        width: 120% !important;
    }
    </style>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta Tags -->

    <!-- Style-sheets -->
    <!-- Bootstrap Css -->
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap Css -->
    <!-- Common Css -->
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--// Common Css -->
    <!-- Nav Css -->
    <link rel="stylesheet" href="../css/style4.css">
    <!--// Nav Css -->
    <!-- Fontawesome Css -->
    <link href="../css/fontawesome-all.css" rel="stylesheet">
    <!--// Fontawesome Css -->
    <!--// Style-sheets -->

    <!--web-fonts-->
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!--//web-fonts-->
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h1>
                    <a href="index.html"> <img class="width-100" src="../images/logo-full-white-transparent.png" alt="technoritory_logo"></a>
                </h1>
                <span><a href="index.html"> <img class="width-80" src="../images/logo-white-transparent.png" alt="technoritory_logo"></a></span>
            </div>
            <div class="profile-bg"></div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="../index.html">
                        <i class="fas fa-th-large"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="product.html">
                        <i class="far fa-window-restore"></i>
                         Your Products
                    </a>
                </li>
                <li>
                    <a href="form.html" data-toggle="modal" data-target="#distributorModal">  <!--data-toggle="collapse" aria-expanded="false" -->
                        <i class="fas fa-laptop"></i>
                         Submit Products
                        <!-- <i class="fas fa-angle-down fa-pull-right"></i> -->
                    </a>
                    <!-- <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="cards.html">Submit Single</a>
                        </li>
                        <li>
                            <a href="carousels.html">Submit Batch</a>
                        </li>
                    </ul> -->
                </li>
                <li>
                    <a href="500.html">
                        <i class="fas fa-th"></i>
                        Gallery
                    </a>
                </li>
                <li>
                    <a href="500.html">
                        <i class="fas fa-chart-pie"></i>
                        Charts
                    </a>
                </li>
                <li>
                    <a href="500.html">
                        <i class="far fa-envelope"></i>
                        Messages
                        <span class="badge badge-secondary bg-danger">5 New</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <!-- top-bar -->
            <nav class="navbar navbar-default mb-xl-5 mb-4"> 
                <div class="container-fluid">
                        <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                    <ul class="top-icons-agileits-w3layouts float-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="far fa-bell"></i>
                                <span class="badge">4</span>
                            </a>
                            <div class="dropdown-menu top-grid-scroll drop-1">
                                <h3 class="sub-title-w3-agileits">User notifications</h3>
                                <a href="#" class="dropdown-item mt-3">
                                    <div class="notif-img-agileinfo">
                                        <img src="../images/clone.jpg" class="img-fluid" alt="Responsive image">
                                    </div>
                                    <div class="notif-content-wthree">
                                        <p class="paragraph-agileits-w3layouts py-2">
                                            <span class="text-diff">John Doe</span> Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                                        <h6>4 mins ago</h6>
                                    </div>
                                </a>
                                <a href="#" class="dropdown-item mt-3">
                                    <div class="notif-img-agileinfo">
                                        <img src="../images/clone.jpg" class="img-fluid" alt="Responsive image">
                                    </div>
                                    <div class="notif-content-wthree">
                                        <p class="paragraph-agileits-w3layouts py-2">
                                            <span class="text-diff">Diana</span> Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                                        <h6>6 mins ago</h6>
                                    </div>
                                </a>
                                <a href="#" class="dropdown-item mt-3">
                                    <div class="notif-img-agileinfo">
                                        <img src="../images/clone.jpg" class="img-fluid" alt="Responsive image">
                                    </div>
                                    <div class="notif-content-wthree">
                                        <p class="paragraph-agileits-w3layouts py-2">
                                            <span class="text-diff">Steffie</span> Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                                        <h6>12 mins ago</h6>
                                    </div>
                                </a>
                                <a href="#" class="dropdown-item mt-3">
                                    <div class="notif-img-agileinfo">
                                        <img src="../images/clone.jpg" class="img-fluid" alt="Responsive image">
                                    </div>
                                    <div class="notif-content-wthree">
                                        <p class="paragraph-agileits-w3layouts py-2">
                                            <span class="text-diff">Jack</span> Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                                        <h6>1 days ago</h6>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">view all notifications</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown mx-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fas fa-spinner"></i>
                            </a>
                            <div class="dropdown-menu top-grid-scroll drop-2">
                                <h3 class="sub-title-w3-agileits">Shortcuts</h3>
                                <a href="#" class="dropdown-item mt-3">
                                    <h4>
                                        <i class="fas fa-chart-pie mr-3"></i>Sed feugiat</h4>
                                </a>
                                <a href="#" class="dropdown-item mt-3">
                                    <h4>
                                        <i class="fab fa-connectdevelop mr-3"></i>Aliquam sed</h4>
                                </a>
                                <a href="#" class="dropdown-item mt-3">
                                    <h4>
                                        <i class="fas fa-tasks mr-3"></i>Lorem ipsum</h4>
                                </a>
                                <a href="#" class="dropdown-item mt-3">
                                    <h4>
                                        <i class="fab fa-superpowers mr-3"></i>Cras rutrum</h4>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="far fa-user"></i>
                            </a>
                            <div class="dropdown-menu drop-3">
                                <div class="profile d-flex mr-o">
                                    <div class="profile-l align-self-center">
                                        <img src="../images/reserved_logo.png" class="img-fluid mb-3" alt="Responsive image">
                                    </div>
                                    <div class="profile-r align-self-center">
                                        <h3 class="sub-title-w3-agileits">Distributor</h3>
                                        <a href="mailto:info@example.com">distributor@dist.com</a>
                                    </div>
                                </div>
                                <a href="#" class="dropdown-item mt-3">
                                    <h4>
                                        <i class="far fa-user mr-3"></i>My Profile</h4>
                                </a>
                                <a href="#" class="dropdown-item mt-3">
                                    <h4>
                                        <i class="fas fa-link mr-3"></i>Activity</h4>
                                </a>
                                <a href="#" class="dropdown-item mt-3">
                                    <h4>
                                        <i class="far fa-envelope mr-3"></i>Messages</h4>
                                </a>
                                <a href="#" class="dropdown-item mt-3">
                                    <h4>
                                        <i class="far fa-question-circle mr-3"></i>Faq</h4>
                                </a>
                                <a href="#" class="dropdown-item mt-3">
                                    <h4>
                                        <i class="far fa-thumbs-up mr-3"></i>Support</h4>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="login.html">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--// top-bar -->

            <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center">Distributor</h2>
            <!--// main-heading -->

            <!-- Forms content -->
            <section class="forms-section">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Product Form--->
                        <div class="outer-w3-agile col-xl mt-3">
                            <h4 class="tittle-w3-agileits mb-4">Distributor Form</h4>
                            <form onSubmit="App.submitDistributorData(); return false;">
                                <div class="form-group">
                                    <label for="distributorName">Distributor Name</label>
                                    <input type="text" class="form-control" id="distributorName" placeholder=""> 
                                </div>
                                <div class="form-group">
                                    <label for="distributorTinNo">TIN No.</label>
                                    <input type="text" class="form-control" id="distributorTinNo" placeholder=""> 
                                </div>
                                <div class="form-group">
                                    <label for="distributorDate">Date</label>
                                    <input class="form-control" type="date" placeholder="" id="distributorDate">
                                </div>
                                <div class="form-group">
                                    <label for="distributorLocation">Location</label>
                                    <input type="text" class="form-control" id="distributorLocation" placeholder="" > 
                                </div>
                                <div class="form-group">
                                    <label for="distributorCountry">Distributor Country</label>
                                    <select class="form-control" id="distributorCountry">
                                        <option>Germany</option>
                                        <option>US</option>
                                        <option>UK</option>
                                        <option>India</option>
                                        <option>Brazil</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="manufacturerName">Manufacturer Name</label>
                                    <input type="text" class="form-control" id="manufacturerName" placeholder=""> 
                                </div>
                                <div class="form-group">
                                    <label for="productNumber">Product Number</label>
                                    <input type="text" class="form-control" id="productNumber" placeholder=""> 
                                </div>
                                <div class="form-group">
                                    <label for="productName">Product Name</label>
                                    <input type="text" class="form-control" id="productName" placeholder="" > 
                                </div>
                                <div class="form-group">
                                    <label for="manufacturingCountry">Manufacturing Country</label>
                                    <input type="text" class="form-control" id="manufacturingCountry" placeholder="" >
                                </div>
                                <button class="btn btn-primary btn-lg btn-block error-w3l-btn" type="submit" data-toggle="modal" data-target="#exampleModal">Submit</button>
                            </form>
                        </div>
                        <!--Product  Form-->
                    </div>
                </div>
            </section>
            <!--// Forms content -->
        </div>
    </div>
     <!-- Button trigger modal -->
     <!-- <div class="d-flex justify-content-around mb-5">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>
    </div> -->
    <!-- popup content submit button for manufacturer to show transaction hash -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Your product has been submitted</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="paragraph-agileits-w3layouts mt-3" id="accountAddress"></p>
                    <p class="paragraph-agileits-w3layouts mt-3" id="blockNumber"></p>
                    <p  class="paragraph-agileits-w3layouts mt-3" id="blockHash"></p>
                    <p  class="paragraph-agileits-w3layouts mt-3" id="transactionHash"></p>
                    <div id="qrcode" style="width:200px; height:200px; margin-top:15px;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-style my-2 my-sm-0" data-dismiss="modal" onclick="App.clearForm()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- popup content end-->
    <!-- popup content submit button for Distributor to ask transaction hash -->
    <div class="modal fade" id="distributorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Distributor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="transactionHashForDistributor">Enter Transaction Hash</label>
                        <input type="text" class="form-control" id="transactionHashForDistributor" placeholder="Transaction Hash" >
                    </div>
                    <p class="form-group text-center">OR</p>
                    <div class="form-group">
                        <label for="transactionBlockForDistributor">Enter Transaction Block</label>
                        <input type="text" class="form-control" id="transactionBlockForDistributor" placeholder="Transaction Block" >
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-style my-2 my-sm-0" data-dismiss="modal" onclick="App.submitTransactionHash()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- popup content end-->
    <!-- Required common Js -->
    <script src='../js/jquery-2.2.3.min.js'></script>
    <!-- //Required common Js -->

    <!-- Sidebar-nav Js -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!--// Sidebar-nav Js -->
    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->

    <!-- Js for bootstrap working-->
    <script src="../js/bootstrap.min.js"></script>
    <!-- //Js for bootstrap working -->
    
    <!-- <script src="../js/ethereum-input-data-decoder.js"></script> -->
    <script src="../js/web3.min.js"></script>
    <script src="../js/truffle-contract.js"></script>
    <script src="../js/qrcode.js"></script>
    <script src="../js/easy.qrcode.js"></script> 
    <script src="../js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/pbkdf2.js"></script>
    <script src="../js/distributor.js"></script>
</body>

</html>