<!DOCTYPE html>
<html lang="en">

<head>
    <title>Technoritory</title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <style>
        .margin-auto {
            margin: auto !important;
        }
        .width-90{
            width: 90%;
        }
        .background-blue{
            background: #5882df !important;
        }
        .padding {
            padding: 3% 3% 0% 11% !important;
        }
    </style>
    <!-- //Meta Tags -->

    <!-- Style-sheets -->
    <!-- Bootstrap Css -->
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    
    <!-- Bootstrap Css -->
    <!-- Common Css -->
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--// Common Css -->
    <!-- Nav Css -->
    <link rel="stylesheet" href="../css/style4.css">
    <!--// Nav Css -->
    <!-- Fontawesome Css -->
    <link href="../css/fontawesome-all.css" rel="stylesheet">
    <!--// Fontawesome Css -->
    <!--// Style-sheets -->

    <!--web-fonts-->
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!--//web-fonts-->
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h1>
                    <a href="index.html"> <img class="width-100" src="../images/logo-full-white-transparent.png" alt="technoritory_logo"></a>
                </h1>
                <span><a href="index.html"> <img class="width-80" src="../images/logo-white-transparent.png" alt="technoritory_logo"></a></span>
            </div>
            <div class="profile-bg"></div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="../index.html">
                        <i class="fas fa-th-large"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="product.html">
                        <i class="far fa-window-restore"></i>
                         Your Products
                    </a>
                </li>
                <li>
                    <a href="form.html" > <!-- data-toggle="collapse" aria-expanded="false" -->
                        <i class="fas fa-laptop"></i>
                         Submit Products
                        <!-- <i class="fas fa-angle-down fa-pull-right"></i> -->
                    </a>
                    <!-- <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="cards.html">Submit Single</a>
                        </li>
                        <li>
                            <a href="carousels.html">Submit Batch</a>
                        </li>
                    </ul> -->
                </li>
                <li>
                    <a href="500.html">
                        <i class="fas fa-th"></i>
                        Gallery
                    </a>
                </li>
                <li>
                    <a href="500.html">
                        <i class="fas fa-chart-pie"></i>
                        Charts
                    </a>
                </li>
                <li>
                    <a href="500.html">
                        <i class="far fa-envelope"></i>
                        Messages
                        <span class="badge badge-secondary bg-danger">5 New</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <!-- top-bar -->
            <nav class="navbar navbar-default mb-xl-5 mb-4 background-blue">
                <div class="container-fluid padding">
                    <img class="width-90" src="../images/logo-full-white-transparent.png"  />
                </div>
            </nav>
            <!--// top-bar -->

            <!-- main-heading -->
            <!-- <h2 class="main-title-w3layouts mb-2 text-center">Reserved</h2> -->
            <!--// main-heading -->

            <!-- Pricing tables1 -->
            <section class="pricing-tables">
                <!-- <h4 class="tittle-w3-agileits mb-4 mt-3">Authentic Product</h4> -->
                <div class="card-deck text-center row">
                    <!-- <div class="card box-shadow margin-auto col-xl-3 col-md-6">
                        <div class="card-header">
                            <h4 class="py-md-4 py-xl-3 py-2">T-Shirt</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li class="py-2 border-bottom"><b>Block Hash: 0x2d1e0e8f9fb810d82f6fd1ee835a0c99ea6f51abfa10433bcd8cdd19433dd8c1</b></li>
                                <li class="py-2"><img class="width-80" src="../images/ralph_t-shirt_full.png"></li>
                                <li class="py-2 border-bottom">Name: Custom slim fit</li>
                                <li class="py-2 border-bottom">Model Number: A1FG3456PL</li>
                                <li class="py-2 border-bottom">Made in: Germany</li>
                                <li class="py-2">Description: Polo Reserved's trimmest silhouette. Slightly fitted through the chest and the waist.</li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary py-2" data-toggle="modal" data-target="#exampleModal">Go Shopping</button>
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary py-2" data-toggle="modal" data-target="#exampleModal">Product Story</button>
                        </div>
                    </div> -->
                    <div class="col-sm-4">
                        <div class="placeresult">
                            <div class="form-group text-center wrapresult">
                                <div class="resultholder">
                                    <img src="../images/dummy_qrcode.png">
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center linksholder"></div>
                        <button class="btn btn-lg btn-block btn-primary" id="submitcreate">
                        <i class="fa fa-magic"></i> Scan QR Code</button>
                    </div> 
                </div>
            </section>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="paragraph-agileits-w3layouts">Woohoo, you're reading this text in a modal!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Modal -->
        </div>
    </div>


    <!-- Required common Js -->
    <script src='js/jquery-2.2.3.min.js'></script>
    <!-- //Required common Js -->

    <!-- Sidebar-nav Js -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!--// Sidebar-nav Js -->

    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->

    <!-- Js for bootstrap working-->
    <script src="js/bootstrap.min.js"></script>
    <!-- //Js for bootstrap working -->

</body>

</html>