<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.technoritory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".QRScanActivity"
            android:label="@string/lbl_scan_activity"
            android:screenOrientation="portrait" />

        <activity android:name=".QRResultActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".NFCScanActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".NFCResultActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".NotAvilableActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ProductDetailsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ProductJourneyActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".SecondStoryActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ThirdStoryActivity"
            android:screenOrientation="portrait"/>


    </application>

</manifest>